/build/UUID Lookup/Analysis-00.toc
/build/UUID Lookup/xref-UUID Lookup.html
/build/UUID Lookup GUI/xref-UUID Lookup GUI.html
/Test File.py
/dist/UUID Lookup.exe
/build/UUID Lookup/UUID Lookup.pkg
/UUID Lookup.spec
/dist/UUID Lookup GUI.exe
/.idea/UUID Lookup GUI.iml
/build/UUID Lookup GUI/UUID Lookup GUI.pkg
/.idea/vcs.xml
/build/UUID Lookup/warn-UUID Lookup.txt
/build/UUID Lookup GUI/warn-UUID Lookup GUI.txt
/.idea/.gitignore
/build/UUID Lookup GUI/Analysis-00.toc
/build/UUID Lookup/base_library.zip
/build/UUID Lookup GUI/base_library.zip
/build/UUID Lookup/EXE-00.toc
/build/UUID Lookup GUI/EXE-00.toc
/.idea/misc.xml
/.idea/modules.xml
/build/UUID Lookup/PKG-00.toc
/build/UUID Lookup GUI/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/build/UUID Lookup/PYZ-00.pyz
/build/UUID Lookup GUI/PYZ-00.pyz
/build/UUID Lookup/PYZ-00.toc
/build/UUID Lookup GUI/PYZ-00.toc
